
@model BettingHistory.Web.Models.RiskViewModel
<h3>Settled</h3>
<div class="panel panel-danger">
	<div class="panel-heading">Winnings with unsual rate</div>
	<div class="panel-body">
		<table class="table">
			<thead>
			<tr>
				<th>Customer</th>
				<th>Bets</th>
				<th>Winings</th>
				<th>Percentage</th>
			</tr>
			</thead>
			<tbody>
			@foreach (var unusualWinning in Model.UnusualSettledWinnings)
			{
				<tr>
					<td>@unusualWinning.Customer</td>
					<td>@unusualWinning.NumberOfBet</td>
					<td>@unusualWinning.NumberOfWinnings</td>
					<td>@unusualWinning.Percentage.ToString("F")</td>
				</tr>
			}
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<h3>Unsettled</h3>
	<div class="col-sm-6 col-md-4">
		<div class="panel panel-danger">
			<div class="panel-heading">Winnings with unsual rate</div>
			<div class="panel-body">
				<table class="table">
					<thead>
					<tr>
						<th>Customer</th>
						<th>Bets</th>
						<th>Winings</th>
						<th>Percentage</th>
					</tr>
					</thead>
					<tbody>
					@foreach (var unusualWinning in Model.UnusualUnsettledWinnings)
					{
						<tr>
							<td>@unusualWinning.Customer</td>
							<td>@unusualWinning.NumberOfBet</td>
							<td>@unusualWinning.NumberOfWinnings</td>
							<td>@unusualWinning.Percentage.ToString("F")</td>
						</tr>
					}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-4">
		<div class="panel panel-danger">
			<div class="panel-heading">$1000.00 or more winings</div>
			<div class="panel-body">
				<table class="table">
					<thead>
					<tr>
						<th>Customer</th>
						<th>Bet</th>
						<th>To Win</th>
					</tr>
					</thead>
					<tbody>
					@foreach (var unusualWinning in Model.HighWinningStakes)
					{
						<tr>
							<td>@unusualWinning.Customer</td>
							<td>@unusualWinning.Stake</td>
							<td>@unusualWinning.ToWin</td>
						</tr>
					}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-4">
		<div class="panel panel-danger">
			<div class="panel-heading">Higher stakes than average</div>
			<div class="panel-body">
				<table class="table">
					<thead>
					<tr>
						<th>Customer</th>
						<th>Bets</th>
						<th>Winings</th>
						<th>Percentage</th>
					</tr>
					</thead>
					<tbody>
					@foreach (var unusualWinning in Model.AverageBetsRisks)
					{
						<tr>
							<td>@unusualWinning.Customer</td>
							<td>@unusualWinning.CurrentStakes</td>
							<td>@unusualWinning.PreviousStakes</td>
							<td>@unusualWinning.IncreaseStakes.ToString("F")</td>
						</tr>
					}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
